<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">\
    <title>TRENIRAI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;800&display=swap" rel="stylesheet">
</head>
<body>
    <div id="preloader"></div>
    <nav>
        <a href="#hero">
            <img id="logo" src="/static/images/LogoColor.svg">
        </a>
        <ul id="navigation">
            <li><a href="#plans">Plans</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
    <div id="hero">
        <div id="overlay">
            <div id="heading">
                <h1>AI POWERED PERSONALIZED WORKOUT PLANS</h1>
                <p>Using the power of AI, we provide you the best workout plans for the best price, instantly.</p>
            </div>
                <img id="graphic" src="/static/images/HeroHand.png">
        </div>
    </div>
    <div id="plans">
        <div class="card" id="left-card">
            <h1>HOME</h1>
            <p class="price">2 €</p>
            <p>The basics to get you started, simple, clean, effective, leaves room for your own creativity.</p>
            <img src="/static/images/Mat.png">
        </div>
        <div class="card" id="middle-card">
            <h1>STANDARD</h1>
            <p class="price">5 €</p>
            <p>Fully personalized, tailored to your specific needs, complete workout plan, no nonsense.</p>
            <img src="/static/images/Dumbell.png">
        </div>
        <div class="card" id="right-card">
            <h1>ADVANCED</h1>
            <p class="price">10 €</p>
            <p>Intermediate plan, focused on progressive overload, hypertrophy and strength.</p>
            <img src="/static/images/Barbell.png">
        </div>
    </div>  
    <div id="contact">
        <img src="/static/images/Contact.png">
        <div id="form">
                <h1>CONTACT US</h1>
                <div id="title">
                    <input type="email" id="email" name="email" placeholder="Your email address" required>
                    <input type="image" id="image" src="/static/images/Button.png" alt="Submit">
                </div>
                <textarea type="text" id="message" name="message" placeholder="Your message" required></textarea>
        </div>
    </div>
</body>
</html>
